extends ../layout

block content
  h1 Login
  if errors && errors.length
    ul.errors
      each err in errors
        li= err

  form(method="POST" action="/login")
    div
      label Email
      input(type="email" name="email" value=email || '')
    div
      label Password
      input(type="password" name="password")
    button(type="submit") Login
