extends ../layout

block content
  h1 Register
  if errors && errors.length
    ul.errors
      each err in errors
        li= err

  form(method="POST" action="/register")
    div
      label Username
      input(type="text" name="username" value=username || '')
    div
      label Email
      input(type="email" name="email" value=email || '')
    div
      label Password
      input(type="password" name="password")
    button(type="submit") Register
